<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/logo-wild-code-school.svg') }}"/>
        <title>
            {% block title %}À propos{% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>{{ asset('/js/darkmode.js') }}</script>
        {% endblock %}
    </head>
    <body>
        {# Header avec modal fullwidth #}
        {% include './_header.html.twig' %}
        {# Fin header avec modal fullwidth #}
        {% block body %}
        <section class="section-fullwidth_privat">
            <h1 class="titre-page_privat uk-text-center uk-text-uppercase uk-position-center">À propos</h1>
            <img src="{{ asset('build/images/accueil/a-propos-julien-privat-photographie.jpg')}}" class="section-img_privat uk-position-center">
        </section>
        <section>
            <div class="uk-flex uk-flex-center uk-flex-middle">
                <div class="div-description-accueil_privat">
                    <h4 class="titre-description_accueil-privat uk-text-center">Bonne question ?</h4>
                    <p class="texte-description-accueil_privat uk-text-center">Je suis pas encore sûre de savoir ce que je fou ici, quoiqu’il en soit les infos de base à connaître sur moi.</p>
                    <p class="uk-margin-small-bottom uk-text-center">Graphiste de formation, passionné de photographie. Je voulais partager mes photographies hors du cadre professionnel, une approche plus personnelle sans limite de sujets, de temps, d’influences… J’y compile mes voyages et des moments de vie que j’ai pu capturer.</p>
                </div>
            </div>
        </section>
        {# Footer #}
        <footer class="footer-privat">
            <p class="mail_footer-privat">contact@julien-privat.com</p>
            <div class="social_footer-privat uk-margin-medium-top">
                <a href="https://julien-privat.com/" class="lien-social_footer-privat uk-text-uppercase">Graphisme</a>
                <a href="www.linkedin.com/in/julien-privat-7a4990203" class="lien-social_footer-privat uk-text-uppercase">Instagram</a>
            </div>
        </footer>
        {% endblock %}
        <script>
        const checkbox = document.querySelector("#checkbox");
        const mainBody = document.querySelector("body");
        checkbox.addEventListener("click", () => mainBody.classList.toggle("darkBg"));
    </script>
    </body>
</html>
